body {
  background-image: url('../images/forest.jpeg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  height: calc(100vh);
  width: 100%;
  line-height: 1.5;
}
.banner{
  background-color: rgba(236, 237, 205, 0.5);  /* 透明背景*/
  width: 80%;
  margin: 0 auto;
}
.wrap{
  margin: 0 auto;
  margin: 100px auto;
  padding: 1em;
  text-align: center;
  @include breakpoint(mobile375){
    margin: 0 auto;
  }
}
.content{
  text-align: left;
}
.list{
  margin: 0;
  padding: 50px 100px 100px 0;
  text-align: left;
  list-style: none; /*清除li前面的小黑點*/
}
.list li{
  border-bottom: 1px solid rgb(96, 96, 33);
  padding: 10px 0;
}
.addList{
  margin-top: 20px;
  @include breakpoint(mobile375){
    display-flex: flex;
    flex-direction: column !important;
  }
}
.addList .text{
  padding: 10px;
  border: 2px solid rgb(73, 41, 10);
  width: 100%;
}
.addList .send{
  padding: 10px;
  cursor: pointer;
  @include breakpoint(mobile375){
    padding: 4px 2px;
    font-size: 16px;
  }
}

.hover:hover{
  color: white;
}
.wordColor{
  color: rgb(1, 48, 46);
}
